<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>libManager</display-name>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>libManager.srv.BookSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>memDetails</servlet-name>
  	<servlet-class>libManager.srv.MemSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>memDetails</servlet-name>
  	<url-pattern>/memd</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>bookLendDetails</servlet-name>
  	<servlet-class>libManager.srv.ReturnBookSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bookLendDetails</servlet-name>
  	<url-pattern>/retb</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>issue</servlet-name>
  	<servlet-class>libManager.srv.IssueSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>issue</servlet-name>
  	<url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>addMem</servlet-name>
  	<servlet-class>libManager.srv.AddMemberSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addMem</servlet-name>
  	<url-pattern>/addMem</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>addBook</servlet-name>
  	<servlet-class>libManager.srv.AddBookSrv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addBook</servlet-name>
  	<url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>