<div>
    <div name="content1" style="height: 40%;width: 100%">
        <div style="width: 50%;float: left;">
            <h3 style="padding-left: 10px;" >Issue a Book</h3><br>
            <a ui-sref="issueBook"><img  class="select" src="app/view/images/book.jpg"></a>
        </div>
        <div style="width: 50%;float: left;">
            <h3 style="padding-left: 10px;">Return a book</h3><br>
            <a ui-sref="returnBook"><img  class="select" src="app/view/images/literary.jpg"></a>
        </div>
    </div>
    <div name="content2" style="height: 40%;width: 100%">
        <div style="width: 50%;float: left;">
            <h3 style="padding-left: 10px;">Get Details by Student ID</h3><br>
            <a href=""><img class="select" src="app/view/images/studentid.png"></a>
        </div>
        <div style="width: 50%;float: left;">
            <h3 style="padding-left: 10px;">Get Details by Book ID</h3><br>
            <a href=""><img  class="select" src="app/view/images/bookid.jpg"></a>
        </div>
    </div>
</div>